body{
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
    color: #EEE;
}
#s00{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 0px 1px 1px 0px;
}
#s01{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 0px 1px 1px 1px;
}
#s02{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 0px 0px 1px 1px;
}

#s10{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 1px 1px 1px 0px;
}
#s11{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 1px 1px 1px 1px;
}
#s12{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 1px 0px 1px 1px;
}

#s20{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 1px 1px 0px 0px;
}
#s21{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 1px 1px 0px 1px;
}
#s22{
    border-color: #DDD;
    border-style: solid;
    /*top, right, bottom, left*/
    border-width: 1px 0px 0px 1px;
}

.board-square:hover {
    cursor: pointer;
}
.winning-square:hover{
    cursor: default;
}
.losing-square:hover{
    cursor: default;
}

.scores-container{
    text-align: center;
    margin: auto;
}
.inactivePlayer{
    color: #797979;
}
#settings-modal{
    color: #333;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 0px) {
    .icon{
        font-size: 52px;
    }
    .table{
        width: 300px;
        height: 300px;
    }
    td{
        height: 100px;
    }
    .scores-container{
        font-size: 18px;
        width: 300px;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 500px) {
    .icon{
        font-size: 72px;
    }
    .table{
        width: 400px;
        height: 400px;
    }
    td{
        height: 133px;
    }
    .scores-container{
        font-size: 22px;
        width: 400px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 768px) {
    .icon{
        font-size: 120px;
    }
    .table{
        width: 600px;
        height: 600px;
    }
    td{
        height: 200px;
    }
    .scores-container{
        font-size: 26px;
        width: 600px;
    }
}
